/* myStyle2.css */

.menu li {
  float: right;
  color: black;
  padding: 5px 16px;
  font-size: 25px;
  display: block;
}


.info{
			text-align: center;
		}

footer {
	text-align: center;
}
.head {
	font-style: bold;
	font-size: 50px;
	text-decoration: underline;
}
.info2{
	float: right;
	color: black;
	padding-right: 600px;
}

.info2 li{
	display: block;
	text-align: left;
}

.info{
	text-align: left;
	text-indent: 600px;
}
.info li{
	display: block;
	text-align: left;
}
	.info3{
	text-align: center;
	font-size: 50px;
	}
	.info3 :hover{
		color: red;
		font-size: 70px;
	}

